.land{
  background-image: url(./assets/images/general.jpg);
    background-position: fixed;
    height:70vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-color: rgba(0, 0, 0, 0.644);  
}




.img {
    background-image: url(./assets/images/background.jpg);
    /* background-position: fixed; */
    /* height:100vh; */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment:fixed; */
    background-color: rgba(0, 0, 0, 0.644);  
}





